@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: 'Lateef';
}

pre, .cm-gutters, .cm-line, .cm-matchingBracket {
    font-family: 'Kawkab Mono';
    font-size: small;
}
